<!DOCTYPE html>
<html lang="{{doc.locale}}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    {% if podspec.meta.google_site_verification %}
    <meta name="google-site-verification" content="{{podspec.meta.google_site_verification}}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, height=device-height">
    <title>{% if doc.title %}{{doc.title}} – {% endif %}{{podspec.title}}</title>
    {% if podspec.meta.image %}
      <meta property="og:image" content="{{g.static(podspec.meta.image).url}}">
    {% endif %}
    <meta property="og:title" content="{% if doc.title %}{{doc.title}} – {% endif %}{{podspec.title}}">
    <meta property="og:site_name" content="{{podspec.title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{doc.url}}">
    {% if doc.description %}
    <meta name="description" content="{{doc.description}}">
    <meta property="og:description" content="{{doc.description}}">
    {% endif %}
    {% if podspec.meta.favicon_path %}
    <link rel="shortcut icon" href="{{g.static(podspec.meta.favicon_path).url.path}}">
    {% endif %}
    <link rel="stylesheet" href="{{g.static('/dist/css/main.min.css').url.path}}">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300,400" rel="stylesheet">
    {% if podspec.meta.google_analytics_id %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{podspec.meta.google_analytics_id}}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </head>
  <body>
    <header>
    </header>
    <main>
      <!--TODO: Main goals for project are:
        1. Build features as described in the TODOs below.
        2. Ensure Gulp can minify JS properly and be able to use the minified JS.
        3. Build these features WITHOUT jQuery or Waypoints. !important

        //////
        Notes: To see the SVG animation, scroll down to the circle SVGS
        and refresh the page. Right now the minified JS file does not work
        (the SVG animations don't start, but will work if you reference
        main.js as seen below.)
        //////
      -->
      <section class="introduction">
        <h2>An Introduction</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus mauris id pharetra interdum. Sed eget posuere erat. Integer in interdum magna. Fusce faucibus varius nisi, quis hendrerit arcu mollis eget. Praesent eros lacus, varius in rhoncus et, porta a felis. Maecenas consectetur, ligula vitae vulputate pretium, ex ipsum posuere nulla, sed mollis tortor enim at purus. In arcu massa, cursus in tristique ornare, consectetur ac sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sit amet velit at mauris rhoncus gravida. Duis dignissim ante at lorem iaculis consequat.</p>
        <p>Morbi libero ex, tempus et ultrices non, eleifend eget eros. Nunc convallis quam at diam commodo, nec egestas sem congue. Nulla pellentesque justo mauris, eget semper mauris consectetur a. Vivamus ac risus accumsan, cursus dui at, laoreet ante. In scelerisque tortor justo, pulvinar pellentesque ex molestie at. Suspendisse vel lacus massa. Duis ac sodales ante.</p>
        <p>Vivamus convallis laoreet est nec aliquet. Curabitur et commodo leo, eget semper dolor. Aliquam sodales risus ut leo semper tempor. Suspendisse at nisl metus. Phasellus quis pellentesque sapien. Vivamus orci odio, fringilla sed lacus at, eleifend congue sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris est sem, venenatis non laoreet at, volutpat sit amet ex. Nullam lobortis consequat purus. Nullam urna ex, vestibulum ut pretium luctus, vestibulum ac arcu. Pellentesque ac bibendum augue. Proin tristique diam vel est porta, sed bibendum nulla vestibulum. Sed nec consectetur risus. Quisque posuere hendrerit consequat. Cras est nisl, placerat a arcu quis, euismod posuere orci. Vivamus non lacus lacinia, auctor sapien in, accumsan elit.</p>
        <p>Aenean maximus pharetra tortor, sed mollis turpis bibendum at. Suspendisse potenti. Mauris justo urna, dictum ut dictum quis, ultrices sit amet sem. Nulla enim nulla, sagittis ultricies dignissim at, porta a nulla. Nulla at ornare neque. Proin nec mauris erat. Pellentesque molestie, odio eget tristique facilisis, elit turpis iaculis nulla, non accumsan sapien lectus ac nulla. Aenean sit amet urna aliquam, efficitur libero et, pretium felis. Fusce nec pellentesque risus. Integer ex diam, pulvinar pretium imperdiet a, fringilla sed ante. Nulla laoreet magna nunc, sit amet vestibulum metus venenatis sed. Suspendisse ultricies accumsan nulla, vitae lacinia odio euismod sit amet. Mauris in auctor ligula. Vivamus rhoncus consectetur mauris, sed ultrices nunc accumsan id. Morbi eu massa dolor. Aliquam suscipit orci a viverra dignissim.</p>
      </section>
      <section class="odometer">
        <!--TODO: Upon entry and visibility into viewportHave these numbers cycle
        up from 0 to the number depicted as seen in google.com/diversity
        (near bottom of page)-->
        <h3>Odometer feature</h3>
        <div class="data-row">
            <div class="data-col">
              <div class="data-num">
                <span class="num">8</span>
              </div>
              <cite>Source: Source A, 2017.</cite>
            </div>
            <div class="data-col">
              <div class="data-num">
                <span class="num">10</span>
              </div>
              <cite>Source: Source B, 2017.</cite>
            </div>
            <div class="data-col">
              <div class="data-num">
                <span class="num">5</span>
              </div>
              <cite>Source: Source C, 2017.</cite>
            </div>
        </div>
      </section>
      <!--TODO: Have this image parallax upwards slightly, as seen
      in 8amarketing.com -->
      <div class="parallax-img">
        <img src="/assets/static/images/emigrant-peak-bluebird.jpg" />
      </div>
      <section class="parallax">
        <h3>Parallax feature</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus mauris id pharetra interdum. Sed eget posuere erat. Integer in interdum magna. Fusce faucibus varius nisi, quis hendrerit arcu mollis eget. Praesent eros lacus, varius in rhoncus et, porta a felis. Maecenas consectetur, ligula vitae vulputate pretium, ex ipsum posuere nulla, sed mollis tortor enim at purus. In arcu massa, cursus in tristique ornare, consectetur ac sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras sit amet velit at mauris rhoncus gravida. Duis dignissim ante at lorem iaculis consequat.</p>
      </section>
      <section class="svg-data">
        <h3>SVG Animation feature</h3>
        <!--TODO: Have these SVGs animate upon the svg being visible/entering in
        viewport on scroll.  -->
        <div class="data-row">
            <div class="data-col">
              <div id="svg_element1" class="data-num-svg">
                <svg class="svg-circle" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 192 192">
                  <circle class="svg-core" cx="91" cy="91" r="88"></circle>
                  <circle id="circle1" class="svg-stroke" cx="91" cy="91" r="88" stroke-dashoffset="548"></circle>
                  <div class="svg-data-item">
                    <span>65</span>
                  </div>
                </svg>
              </div>
              <cite>Source: Source A, 2017.</cite>
            </div>
            <div class="data-col">
              <div id="svg_element2" class="data-num-svg">
                <svg class="svg-circle" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 192 192">
                  <circle class="svg-core" cx="91" cy="91" r="88"></circle>
                  <circle id="circle2" class="svg-stroke" cx="91" cy="91" r="88" stroke-dashoffset="548"></circle>
                  <div class="svg-data-item">
                    <span>45</span>
                  </div>
                </svg>
              </div>
              <cite>Source: Source B, 2017.</cite>
            </div>
            <div class="data-col">
              <div id="svg_element3" class="data-num-svg">
                <svg class="svg-circle" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 192 192">
                  <circle class="svg-core" cx="91" cy="91" r="88"></circle>
                  <circle id="circle3" class="svg-stroke" cx="91" cy="91" r="88" stroke-dashoffset="548"></circle>
                  <div class="svg-data-item">
                    <span>87</span>
                  </div>
                </svg>
              </div>
              <cite>Source: Source C, 2017.</cite>
            </div>
        </div>
      </section>
      <section class="data-menu">
        <h3>Data Menu feature</h3>
        <!--TODO: Make .data-cta a drop down menu which allows you to select
        Data Set 2. Upon Selection of Data Set 2, hide Data Set 1 information and
        show Data Set 2 info, preferably with an animation. -->
        <div class="data-cta">
          <div class="data-cta-content">
            <span class="txt">Data Set 1</span>
          </div>
          <div class="data-cta-content hidden">
            <span class="txt">Data Set 2</span>
          </div>
        </div>
        <div class="data-row-container">
          <div class="data-row data-set-1">
              <div class="data-col">
                <div class="data-num">
                  <span class="num">8</span>
                </div>
                <cite>Source: Source A, 2017.</cite>
              </div>
              <div class="data-col">
                <div class="data-num">
                  <span class="num">10</span>
                </div>
                <cite>Source: Source B, 2017.</cite>
              </div>
              <div class="data-col">
                <div class="data-num">
                  <span class="num">5</span>
                </div>
                <cite>Source: Source C, 2017.</cite>
              </div>
          </div>
          <div class="data-row data-set-2 hidden">
              <div class="data-col">
                <div class="data-num">
                  <span class="num">10</span>
                </div>
                <cite>Source: Source A, 2017.</cite>
              </div>
              <div class="data-col">
                <div class="data-num">
                  <span class="num">12</span>
                </div>
                <cite>Source: Source B, 2017.</cite>
              </div>
              <div class="data-col">
                <div class="data-num">
                  <span class="num">7</span>
                </div>
                <cite>Source: Source C, 2017.</cite>
              </div>
          </div>
        </div>
      </section>
      <section class="svg-data">
        <h3>SVG Animation feature</h3>
        <!--TODO: Have these SVGs animate upon the svg being visible/entering in
        viewport on scroll.  -->
        <div class="data-row">
            <div class="data-col">
              <div id="svg_element4" class="data-num-svg">
                <svg class="svg-circle" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 192 192">
                  <circle class="svg-core" cx="91" cy="91" r="88"></circle>
                  <circle id="circle4" class="svg-stroke" cx="91" cy="91" r="88" stroke-dashoffset="548"></circle>
                  <div class="svg-data-item">
                    <span>65</span>
                  </div>
                </svg>
              </div>
              <cite>Source: Source A, 2017.</cite>
            </div>
            <div class="data-col">
              <div id="svg_element5" class="data-num-svg">
                <svg class="svg-circle" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 192 192">
                  <circle class="svg-core" cx="91" cy="91" r="88"></circle>
                  <circle id="circle5" class="svg-stroke" cx="91" cy="91" r="88" stroke-dashoffset="548"></circle>
                  <div class="svg-data-item">
                    <span>45</span>
                  </div>
                </svg>
              </div>
              <cite>Source: Source B, 2017.</cite>
            </div>
            <div class="data-col">
              <div id="svg_element6" class="data-num-svg">
                <svg class="svg-circle" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 192 192">
                  <circle class="svg-core" cx="91" cy="91" r="88"></circle>
                  <circle id="circle6" class="svg-stroke" cx="91" cy="91" r="88" stroke-dashoffset="548"></circle>
                  <div class="svg-data-item">
                    <span>87</span>
                  </div>
                </svg>
              </div>
              <cite>Source: Source C, 2017.</cite>
            </div>
        </div>
      </section>

    </main>
    <footer>
    </footer>
    <!--TODO: Why doesn't my minified file work here? Do I need to list "externs"? -->
    <script src="/assets/static/js/main.js"></script>
  </body>
</html>
