/* Config */
$red: #ff5252;
$site-max-width: 800px;

/* Mixins */

@mixin font-family ($font) {
  font-family: $font, Arial, sans-serif;
}

@mixin headline-styles($font-size, $font-weight) {
  color: $red;
  @include font-family('Roboto');
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 0;
  padding: 0;
}

/* Styles */

body {
  background-color: #fff;
  margin: 0 auto;
  max-width: $site-max-width;
}

h2 {
  @include headline-styles(2em, 400);
}

h3 {
  @include headline-styles(1.5em, 300);
}

cite,
p {
  @include font-family('Raleway');
}
