/* Config */
$red: #ff5252;
$site-max-width: 800px;

/* Mixins */
@mixin font-family ($font) {
  font-family: $font, Arial, sans-serif;
}

@mixin headline-styles($font-size, $font-weight) {
  color: $red;
  @include font-family('Roboto');
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 0;
  padding: 0;
}

/* Styles */
body {
  background-color: #fff;
  margin: 0 auto;
  max-width: $site-max-width;
}

h2 {
  @include headline-styles(2em, 400);
}

h3 {
  @include headline-styles(1.5em, 300);
}

cite,
p {
  @include font-family('Raleway');
}

header {
  margin: 0 auto;
  max-width: 1000px;
}

main {
  border-top: 3px solid #000;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: 0;
}

section {
  border-top: 1px solid #ccc;
  margin-top: 50px;
  padding-top: 20px;

  &.introduction {
    border: 0;
    margin: 0;
  }

}

.emigrant-peak {
    background-image: url("/assets/static/images/emigrant-peak-bluebird.jpg");
}

.emigrant-peak p {
    color: white;
    padding: 5px;
}

.blue-background {
    background-image: url("/assets/static/images/blue-background.jpg");
}

.blue-background p {
    padding: 5px;
}


.parallax {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    border: 0;
    margin-top: 20px;
    padding: 0;
}


.parallax-img {
  width: $site-max-width;

  img {
    width: $site-max-width;
  }
}

.odometer {
  margin-bottom: 50px;
}

.data-menu {

  .data-col {
    padding: 0.5em;
  }
}

.data-cta,
.data-row-container {
  display: inline-block;
}

.data-cta {
  padding-top: 1.5em;
  vertical-align: top;
}

.data-row {
  display: table;
}

.data-col {
  display: table-cell;
  padding: 2em;
  text-align: center;
  width: 33%;

  .num {
    @include font-family('Roboto');
    font-size: 5.5em;
    font-weight: 100;
  }
}

.txt {
  @include font-family('Roboto');
  font-size: 2em;
  text-align: right;
}

.svg-circle {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  height: 12.5rem;
  margin: 2em auto 0;
  width: 12.5rem;
}

.svg-core {
  fill: none;
  stroke: rgba(0,0,0,.22);
  stroke-width: 3;
}

.svg-stroke {
  -webkit-transition: stroke-dashoffset 1s;
  transition: stroke-dashoffset 1s;
  fill: none;
  opacity: 1;
  stroke-dasharray: 548;
  stroke-linecap: round;
  stroke-width: 7;
  stroke: $red;
}

.svg-data-item {
  position: relative;
  top: -149px;

  span {
    display: block;
    @include font-family('Roboto');
    font-size: 5em;
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

// Start Odometer Styling

@mixin animation($single-animation) {
  -webkit-animation: $single-animation;
  animation: $single-animation;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}

/* Modify the stylings of the digit here */
.digit {    
    @include font-family('Roboto');
    /* Change these lines to adjust the stylings */
    width: 0.6em;
    font-size: 5.5em;
    font-weight: 100;
    /* Change this line to change how fast the scrolling happens */
    transition: transform 1s;
    /* Do not change */
    display: inline-block;
}

/* Modify the size of the digit container here */
.digit-container {
    /* This should match the font-size unless you want to show partials of each element above / below */
    line-height: 5.5em;
    height: 5.5em;
    /* Do not change these */
    overflow: hidden;
    display: inline-block;
    position: relative;
}
